.profile-light {
    color: #022a58;
}

.profile__profile-picture {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px;
    border: 5px solid rgb(255,134,90);
    margin: 40px auto 0 auto;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.profile__headline {
    display: block;
    text-align: center;
}

.profile__about-me {
    margin: 40px;

    &--headline {
        margin: 0;
    }

    &--text {
        line-height: 1.5;
        margin: 5px 0 40px 0;
    }
}

.profile__skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    & li {
        font-size: 0.8em;
        background-color: rgba(254, 254, 254, 0.2);
        margin: 0 10px 20px 0;
        padding: 10px;
    }
}
.profile-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile__logout {
    font-family: 'Anton', sans-serif;
    font-size: inherit;
    text-decoration: none;
    background: rgb(255,134,90);
    background-color: linear-gradient(45deg, rgba(255,134,90,1) 0%, rgba(255,154,114,1) 100%);
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    margin-left: 50px;
}