.question-box {
    position: relative;
    background: rgb(255,134,90);
    background: linear-gradient(45deg, rgba(255,134,90,1) 0%, rgba(255,154,114,1) 100%);
    padding: 40px;
    margin: 60px 20px 0px 20px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);

    &__bookmark-question--unmarked {
        fill: #EDEDED;
        height: 60px;
        position: absolute;
        right: 25px;
        top: -14px;
    }

    &__bookmark-question--marked[type="checkbox"]:checked + label > svg {
        fill: rgb(255, 255, 0);
    }

    &__bookmark--marked {
        fill: rgb(255, 255, 0);
        height: 60px;
        position: absolute;
        right: 25px;
        top: -14px;
    }

    &__bookmark--unmarked[type="checkbox"]:checked + label > svg {
        fill: #EDEDED;
    } 

    &__text {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    &:last-of-type {
        margin-bottom: 50px;
    }

    &__answer {
        display: none;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    &__tags li {
        font-size: 0.8em;
        background-color: rgba(254, 254, 254, 0.2);
        margin: 7px 7px;
        padding: 10px;
    }

}

button[type="submit"]:active + div.question-box__answer {
    display: block;
}